html
  head
    title= title

    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css', rel='stylesheet')
    
  body

    div(class="container")
        h1(class='button') #{title},

        div(class="row")
            div(class="col s12 m6")
                div(class="card blue-grey darken-1")
                    div(class="card-content white-text")
                        span(class="card-title") Hi
                        p I am a lonely fellow
                        img(src="/images/q.jpg")
                    div(class="card-action")
                        a(href="#") 'I miss you guys!!! I have a new sister, SeQi, she is excited to meet you too, brothers!'

            div(class="col s12 m6")            
                div(class="card-panel")
                    ul(class="collection")
                        each val in [2,3,4]
                            li(class="collection-item avatar") 
                                img(src="/images/q.jpg", class="circle", style={height: '32px', width: '32px'}) 
                                span(class="title") Q#{val}
                                p Hi Q#{val}
                                    br
                                a(href="#!" class="secondary-content")
                                    i(class="material-icons") grade
        
        
        div(class="row")

            // carousel
            div(class="col s12 m6")
                div(class="carousel")
                    a(class="carousel-item", href="#one!")
                        img(src="/images/q.jpg")
                    a(class="carousel-item", href="#one!")
                        img(src="/images/cardboard_q.jpg")
                    a(class="carousel-item", href="#one!")
                        img(src="/images/grill_fire.jpg")
                    a(class="carousel-item", href="#one!")
                        img(src="/images/cool_q.jpg")

            // q-zone button
            div(class="col s12 m6")
                button(class="btn", id="open-menu-btn") Open

                a(id="menu", class="waves-effect waves-light btn btn-floating")
                    i(class="material-icons") menu

                div(class="tap-target", data-target="menu")
                    div(class="tap-target-content")
                        p Q zone is a fun place to be
                        img(src="/images/cool_q.jpg", style={height: '96px', width: '96px'})

    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js")
    script(src="scripts/carousel.js")
    script(src="scripts/q-zone.js")